@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55; /* hsl(60, 28%, 17%);  #1f2937 */
  --background-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
 /* @apply decoration-textColor; */
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* .header {
  @apply hidden md:block
} */

